<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="version" value="1000010"/>
    <add key="ConnectionString" value="2FmPTfsyQmTu4oR897UOCCq3/8uC5XDfQ6sN4NQ4fNmOCNS+bEiPcXzC4qLg/3UJjcwtuQFWiDVrFly6Lex6h676lyOhppXDxmxtQifwE5XBOTG6CBT0Vw=="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
